.radial-menu {
	position: fixed;
	z-index: 10;

	&.disabled {
		transition: all 0.3s;
		pointer-events: none;
		/*     opacity: .75; */
	}

	&.open {
		.floating-action-button {
			width: 80px;
			height: 80px;
			right: 25px;
			bottom: 250px;

			[class*="fa-"] {
				font-size: 1.75rem;

				&.fa-ellipsis-v {
					transform: rotateZ(90deg);
				}
			}

			&-item {
				opacity: 1;
			}
		}

		.radial {
			height: 300px;
			width: 300px;
			right: -90px;
			bottom: 140px;

			span {
				text-decoration: none;

				&:hover {
					color: #fff !important;
				}
			}

			&.radial-2-items span {
				&:nth-child(1) {
					transition-delay: 0s;
					transform: translate(-90px, 0px) scale(1.25);

					&:hover {
						transform: translate(-90px, 0px) scale(1.5);
					}
				}

				&:nth-child(2) {
					transition-delay: 0.1s;
					transform: translate(-10px, -90px) scale(1.25);

					&:hover {
						transform: translate(-10px, -90px) scale(1.5);
					}
				}
			}

			&.radial-3-items span {
				&:nth-child(1) {
					transition-delay: 0s;
					transform: translate(-70px, 46px) scale(1.25);

					&:hover {
						transform: translate(-90px, 10px) scale(1.5);
					}
				}

				&:nth-child(2) {
					transition-delay: 0.1s;
					transform: translate(-67px, -42px) scale(1.25);

					&:hover {
						transform: translate(-67px, -42px) scale(1.5);
					}
				}

				&:nth-child(3) {
					transition-delay: 0.2s;
					transform: translate(5px, -90px) scale(1.25);

					&:hover {
						transform: translate(5px, -90px) scale(1.5);
					}
				}
			}

			&.radial-4-items span {
				&:nth-child(1) {
					transition-delay: 0s;
					transform: translate(-70px, 46px) scale(1.25);

					&:hover {
						transform: translate(-90px, 10px) scale(1.5);
					}
				}

				&:nth-child(2) {
					transition-delay: 0.1s;
					transform: translate(-67px, -42px) scale(1.25);

					&:hover {
						transform: translate(-67px, -42px) scale(1.5);
					}
				}

				&:nth-child(3) {
					transition-delay: 0.2s;
					transform: translate(5px, -90px) scale(1.25);

					&:hover {
						transform: translate(5px, -90px) scale(1.5);
					}
				}

				&:nth-child(4) {
					transition-delay: 0s;
					transform: translate(10px, 90px) scale(1.25);

					&:hover {
						transform: translate(10px, 90px) scale(1.5);
					}
				}
			}
		}
	}
}

.radial {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 262.5px;
	border-radius: 50%;
	transition: all 0.3s;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
	background: rgba(82, 82, 82, 1);



	.floating-action-button-item {
		padding: 1rem;
		position: fixed;
		background: transparent;
		border: none;
		right: 38px;
		bottom: 255px;
		transition: all 0.3s;
		color: #fff !important;
		opacity: 0;
	}
}

.attention {
	width: 60px;
	height: 60px;
	position: fixed;
	right: 35px;
	bottom: 255px;
	border-radius: 50%;
	-webkit-animation: 4s ease 3s normal infinite attention;
	animation: 4s ease 3s normal infinite attention;
	background: var(--primary);

	&.paused {
		-webkit-animation-play-state: paused !important;
		-moz-animation-play-state: paused !important;
		-o-animation-play-state: paused !important;
		animation-play-state: paused !important;
	}
}

@keyframes attention {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}

@keyframes init {
	0% {
		opacity: 0;
		width: 0;
		height: 0;
		right: 55px;
		bottom: 55px;
	}
	75% {
		opacity: 1;
		width: 70px;
		height: 70px;
		right: 35px;
		bottom: 35px;
	}
	100% {
		width: 60px;
		height: 60px;
		right: 35px;
		bottom: 35px;
	}
}

@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.floating-action-button {
	border: none;
	color: #fff !important;
	border-radius: 50%;
	position: fixed;
	transition: all 0.3s;
	display: grid;
	justify-content: center;
	align-content: center;
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
	background: var(--primary);
	width: 66px;
	height: 66px;
	right: 32px;
	bottom: 255px;
	animation-duration: 0.75s;
	animation-name: bounceIn;

	[class*="fa-"] {
		transition: all 0.3s;
		font-size: 1.2rem;
	}

	&:hover {
		width: 80px;
		height: 80px;
		right: 25px;
		bottom: 250px;

		[class*="fa-"] {
			font-size: 1.75rem;
		}
	}
}
